<h1>Login GitHub</h1>

<form action="http://localhost:3000/api/github/login" method="get">
  <div>
    <label for="email">Email</label>
    <br>
    <input name="email" id="email" type="text">
  </div>
  {{!-- <br>
  <div>
    <label for="password">Password</label>
    <br>
    <input name="password" id="password" type="password">
  </div> --}}
  <br>
  <div>
    <button id="login">Login</button>
  </div>
  <br>
  <div>
  <a href="http://localhost:3000/register">Crear Usuario</a>
  </div>
  <br>
  <div>
    <button id="restorePassword">Restaurar Password</button>
  </div>
</form>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script>