<h1>Register</h1>

<form action="http://localhost:3000/api/passportLocal/singup" method="post">
  <div>
    <label for="firstName">Nombre:</label>
    <br>
    <input name="firstName" id="firstName" type="text">
  </div>
  <br>
  <div>
    <label for="lastName">Apellido:</label>
    <br>
    <input name="lastName" id="lastName" type="text">
  </div>
  <br>
  <div>
    <label for="email">Email:</label>
    <br>
    <input name="email" id="email" type="text">
  </div>
  <br>
  <div>
    <label for="password">Contraseña:</label>
    <br>
    <input name="password" id="password" type="password">
  </div>
  <br>
  <div>
    <button id="register">Registrar</button>
  </div>
</form>